{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Account Activated" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-body">
                    {% trans "Your account is now activated." %}

                    {% if not user.is_authenticated %}
                    {% url 'login' as login_url %}
                    {% blocktrans %}
                    You can <a href="{{ login_url }}">log in</a> now.
                    {% endblocktrans %}
                    {% else %}
                    {% blocktrans %}
                    Back to <a href="/">home</a> page.
                    {% endblocktrans %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
</p>
{% endblock %}


{% comment %}
**registration/activation_complete.html**

Used after successful account activation. This template has no context
variables of its own, and should simply inform the user that their
account is now active.
{% endcomment %}