{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Log in" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Please Sign In</h3>
                </div>
                <div class="panel-body">
                    <form method="post" action="" role="form">
                        {% csrf_token %}
                        <fieldset>{{ form.non_field_errors }}

                            <div class="form-group login-input">
                                {{ form.username.errors }}
                                {{ form.username }}
                            </div>
                            <div class="form-group login-input">
                                {{ form.password.errors }}
                                {{ form.password }}
                            </div>
                            <!-- Change this to a button or input when using this as a form -->
                            <button class="btn btn-lg btn-success btn-block" type="submit">Login</button>
                        </fieldset>
                    </form>

                    <p>{% trans "Forgot your password?" %} <a
                            href="{% url 'auth_password_reset' %}">{% trans "Reset it" %}</a>.</p>
                    <p>{% trans "Not a member?" %} <a
                            href="{% url 'registration_register' %}">{% trans "Register" %}</a>.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}