{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Log out" %}{% endblock %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Please Sign In</h3>
                </div>
                <div class="panel-body">
                    <p>Successfully logged out.</p>
                    <p><a href="{% url 'login' %}">Log in again</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}