{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Password reset complete" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-body">
                    {% trans "Your password has been reset!" %}
                    {% blocktrans %}You may now <a href="{{ login_url }}">log in</a>{% endblocktrans %}.
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{# This is used by django.contrib.auth #}