{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block meta %}
<!-- NOTE(joshblum): This prevents leaking the password reset token via the
   Referer header to any 3rd party apps on the page. -->
<meta name="referrer" content="origin">
{% endblock %}

{% block title %}{% trans "Confirm password reset" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Reset your password</h3>
                </div>
                <div class="panel-body">
                    {% if validlink %}
                    <p>{% trans "Enter your new password below to reset your password:" %}</p>
                    <form method="post" action="">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit" value="{% trans 'Set password' %}" />
                    </form>
                    {% else %}
                    Password reset unsuccessful. Please <a href="{% url 'auth_password_reset' %}">try again.</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{# This is used by django.contrib.auth #}