{% extends "registration/registration_base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Reset password" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Reset your password</h3>
                </div>
                <div class="panel-body">
                    <p>
                        {% blocktrans %}
                        Forgot your password? Enter your email in the form below and we'll send you instructions for
                        creating a
                        new one.
                        {% endblocktrans %}
                    </p>
                    <form method="post" action="">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <input type="submit" value="{% trans 'Reset password' %}" class="btn btn-success btn-block"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}