{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Password reset" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-body">
                    {% blocktrans %}
                    We have sent you an email with a link to reset your password. Please check
                    your email and click the link to continue.
                    {% endblocktrans %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{# This is used by django.contrib.auth #}