{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Registration is closed" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-body">
                    {% trans "Sorry, but registration is closed at this moment. Come back later." %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}