{% extends "registration/registration_base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Register for an account" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Register for an account</h3>
                </div>
                <div class="panel-body">
                    <form method="post" action="">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <input type="submit" value="{% trans 'Submit' %}" class="btn btn-success"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% comment %}
**registration/registration_form.html**
Used to show the form users will fill out to register. By default, has
the following context:

``form``
The registration form. This will be an instance of some subclass
of ``django.forms.Form``; consult `Django's forms documentation
<http://docs.djangoproject.com/en/dev/topics/forms/>`_ for information on how to display this in a template.
    {% endcomment %}