{% extends "base.html" %}
{% load wagtailcore_tags navigation_tags static wagtailuserbar %}
{% load menu_tags %}


{% block navbar %}
<nav class="navbar navbar-green navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">REVAMP</a>
    </div>
    {% main_menu %}
    <ul class="nav navbar-top-links navbar-right">
        <!-- /.dropdown -->
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
            </a>
            {% if request.user.is_authenticated %}
            <ul class="dropdown-menu dropdown-user">
                <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                </li>
                <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                </li>
                <li class="divider"></li>
                <li><a href="/accounts/logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                </li>
            </ul>
            {% else %}
            <ul class="dropdown-menu dropdown-user">
                <li><a href="/accounts/login"><i class="fa fa-sign-out fa-fw"></i> Login</a>
                </li>
            </ul>
            {% endif %}
            <!-- /.dropdown-user -->
        </li>
        <!-- /.dropdown -->
    </ul>
</nav>
{% endblock %}


{% block content %}
<div id="page-wrapper">
</div>
<!-- /#wrapper -->
{% endblock %}