{% extends "revamp_tool/base.html" %}
{% load i18n %}


{% block title %} {% trans "Home" %}{% endblock %}
{% block content %}
<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">{% trans "Welcome to Revamp" %}</div>
			<div class="panel-body">

				<h2>Resource Value Mapping (Revamp)</h2>
				<h3>{% trans "Introduction" %}</h3>
				<p>{% blocktrans %} REVAMP helps city planners to estimate the total resources and reuse potential
					available in a city’s wastewater and other organic waste streams, as well as their financial
					values.{% endblocktrans %}</p>
				<p>{% blocktrans %}The rapid estimates provided by REVAMP are particularly intended to help city
					planners and policy-makers at crucial decision-points regarding waste management; for example,
					planning of new sanitation infrastructure, wastewater treatment plants, or climate mitigation
					measures. It can also be useful for engineers, developers, researchers and anyone interested in the
					circular economy.{% endblocktrans %}</p>
				<p>{% blocktrans %}Based on data input about the volume of the different waste streams, REVAMP
					calculates the benefits from different reuse scenarios – for example composting of faecal sludge for
					agricultural fertilizer; production of biogas or solid waste briquettes – in terms of energy and
					nutrient content, how much of competing products they could substitute, and what those products
					would cost. In this way REVAMP can be useful for step for building a business case for different
					waste management/reuse options as well as informing scenario-based planning
					exercises.{% endblocktrans %}</p>
				<p>{% blocktrans %}REVAMP is being developed under the SEI Initiative on Sustainable Sanitation. It is
					currently available in beta form. The current phase of development hopes to improve the user
					interface, as well as adding more reuse options and resources (including the water component of the
					waste streams), and taking into account the costs and efficiencies of different
					technologies.{% endblocktrans %}</p>


			</div>
		</div>
	</div>
</div>
{% endblock %}