{% extends "revamp_tool/base.html" %}
{% load wagtailcore_tags navigation_tags static wagtailuserbar wagtailcore_tags %}

{% block content %}


<div id="page-wrapper">

    <div class="col-lg-12">
        <div>
            <h1>{{ page.translated_title }}</h1>
            {% wagtailuserbar %}
            {{ page.body| richtext }}
            {#% pageurl page %#}

        </div>
    </div>
</div>


{% endblock %}