{% extends "revamp_tool/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}


{% block title %} {% trans "Contact us" %}{% endblock %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="contact-us-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{% trans "Contact Us" %}</h3>
                </div>
                <div class="panel-body">
                    {% csrf_token %}
                    {% crispy form %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}